.d-f{display: flex;}  /*容器flwx布局*/

.dfd-1{flex-direction: row;}  /*主轴为水平方向，起点在左端*/
.dfd-3{flex-direction: row-reverse;}  /*主轴为水平方向，起点在右端*/
.dfd-2{flex-direction: column;}  /*主轴为垂直方向，起点在上沿*/
.dfd-4{flex-direction: column-reverse;}  /*主轴为垂直方向，起点在下沿*/
.dfw-1{flex-wrap: nowrap;}  /*不换行，第一行在上方*/
.dfw-2{flex-wrap: wrap;}  /*换行，第一行在上方*/
.dfw-3{flex-wrap: wrap-reverse;}  /*换行，第一行在下方*/
.dfj-1{justify-content: flex-start;}  /*左对齐*/
.dfj-2{justify-content: flex-end;}  /*右对齐*/
.dfj-3{justify-content: center;}  /*居中*/
.dfj-4{justify-content: space-between;}  /*两端对齐，项目之间的间隔都相等*/
.dfj-5{justify-content: space-around;}  /*每个项目两侧的间隔相等,项目之间的间隔比项目与边框的间隔大一倍*/
.dfa-1{align-items: flex-start;}  /*交叉轴的起点对齐*/
.dfa-2{align-items: flex-end;}  /*交叉轴的终点对齐*/
.dfa-3{align-items: center;}  /*交叉轴的中点对齐*/
.dfa-4{align-items: baseline;}  /*项目的第一行文字的基线对齐*/
.dfa-5{align-items: stretch;}  /*将占满整个容器的高度*/

.d-if{-moz-inline-stack:inline-block; display:inline-block;}  /*行内元素flwx布局*/

.dfo-0{order: 0;}/*项目的排列顺序。数值越小，排列越靠前，默认为0*/.dfo-1{order: 1;}.dfo-2{order: 2;}
.dfg-0{flex-grow: 0;}  /*如果存在剩余空间，也不放大*/
.dfg-1{flex-grow: 1;}  /*如果所有项目的flex-grow属性都为1，则它们将等分剩余空间*/
.dfg-2{flex-grow: 2;}  /*如果一个项目的flex-grow属性为2，其他项目都为1，则前者占据的剩余空间将比其他项多一倍*/
.dfs-0{flex-shrink: 0;}  /*如果一个项目的flex-shrink属性为0，其他项目都为1，则空间不足时，前者不缩小*/
.dfs-0{flex-shrink: 1;}  /*如果所有项目的flex-shrink属性都为1，当空间不足时，都将等比例缩小*/

.d-n{display: none;}.d-b{display: block;}.d-i{display: inline;}.d-ib{display: inline-block;}

.f-l{float: left;}.f-r{float: right;}.f-c{clear:both;}

.p-a{position: absolute;}.p-e{position: relative;}.p-f{position: fixed;}

