html {
	font-size: 62.5%; 
}
body {
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}
header {
	display: flex;
	width: 100%;
	height: 8.8vh;
	background: #29bde0;
}
header a {
	background: url(images/task7_05.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 3.5vh;
	margin-left: 2rem;
	width: 3.6vh;
	height: 3.3vh;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.plate {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2.4vh auto;
	width: 88.8%;
	height: 10.8vh;
	background: #fff;
	border: 1px solid #cecece;
}
.plate p {
	font-size: 3.4vh;
	color: #9a9a9a;
}
.plate a {
	background: url(images/Back-_-Icon.png) no-repeat;
	background-size: 100% 100%;
	width: 2vh;
	height: 4vh;
	margin-right: 2vw;
}
.subject {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 88.8%;
	height: 77vh;
	background: #fff;
	border: 1px solid #cecece;
	margin-bottom: 6.2rem;
}
/*三角形*/
.picture {
	border-top: 15px solid transparent;
    border-left: 15px solid #fbb435;
    border-bottom: 15px solid transparent;
	position: absolute;
	top: 59.5vh;
	right: 6.2vw;
}
.theme {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 8vh;
	width: 100%;
	border-bottom: 1px solid #fdd793;
	font-size: 3.5vh;
	color: #fbb435;
}
.main-selection {
	background-color: #69d1e9;
	width: 71vw;
	height: 12vh;
	border: 0;
	margin: 2.7vh auto;
}
.main-selection p {
	font-size: 3.3vh;
	color: #fff;
}
.subject span {
	color: #666;
	font-size: 2.3vh;
}
.blank {
	display: flex;
	justify-content: center;
}
/*底部小白点*/
.punctuation {
	margin-top: -7vh;
	font-size: 10vh;
	height: 1vh;
	color: #f0f0f0;
}
/*底部小蓝点*/
.punctuation1 {
	margin-top: -7vh;
	font-size: 10vh;
	height: 1vh;
	color: #69d1e9;
}

