html {
	font-size: 62.5%; 
}
body {
	margin: 0;
	padding: 0;
	background-color: #29bde0;
}
/*头部*/
header {
	position: fixed;
	justify-content: space-between;
	top: 0;
	width: 100%;
	height: 8.1vh;
	display: flex;
	background-color: #29bde0;
}
.Button1 {
	background: url(images/task7_06.png) no-repeat;
	background-size: 30.96vh 5.76vh;
	background-position: -21.15vh -.7vh;
	width: 3.3vh;
	height: 4.7vh;
	margin-top: 2.8vh;
	margin-left: 1rem;
}
header p {
	font-family: "SimSun";
	font-size: 3.3vh;
	color: #fff;
}
.Button2 {
	background: url(images/task7_06.png) no-repeat;
	background-size: 30.96vh 5.76vh;
	background-position: -16.7vh -.7vh;
	width: 3vh;
	height: 4.6vh;
	margin-top: 2.8vh;
	margin-right: 1rem;
	border: 0;
}
/*旁白介绍*/
.introduce {
	width: 100%;
	height: 7.5vh;
	margin-top: 8.1vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #b9e9f5;
}
.introduce p {
	margin-left: 4.3vw;
	font-size: 2.75vh;
	font-family: "SimSun";
}
.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
	width: 5vh;
	height: 5vh;
	background-color: #fbb435;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%; 
}
.triangle {
	margin-left: .5vh;
	border-top: 1.5vh solid transparent;
    border-left: 2.5vh solid #fff;
    border-bottom: 1.5vh solid transparent;
    border-radius: 3px;
}
audio {
	display: none;
}
.triangle1{
	width: 100%;
	height: 0;
}
.triangle2 {
	width: 0;
	height: 0;
	border-left: .8vh solid transparent;
	border-right: .8vh solid transparent;
    border-top: 1.4vh solid #b9e9f5;
    margin-left: 4.7vw;
}
.introduce1 {
	width: 100%;
	height: 4.5vh;
}
.introduce1 p {
	margin-left: 4.7vw;
	font-size: 2.36vh;
	font-family: "SimSun";
}
/*选手主体*/
main {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 15rem;
}
.box {
	width: 33.3%;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.box-box {
	display: flex;
	flex-direction: column;
	border: .5vh solid #fff;
	width: 12vh;
	height: 12vh;
	display: inline-block;
	margin-bottom: 1.7vh;
}
.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	width: 12vh;
	height: 8.7vh;
	background-color: #f5c97b;
	color: #565656;
	font-size: 2.5vh;
}
.content1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 12vh;
	height: 2.8vh;
	flex: 0 1 auto;
	background-color: #83b09a;
	color: #fff;
	font-size: 2.3vh;
	padding-bottom: .5vh;
}
.box-box1 {
	position: absolute;
	display: none;
	padding-top: 1.5vh;
}
.box-box:hover .box-box1 {
	display: flex;
	justify-content: space-around; 
}
/*4个小图标*/
.button1 {
	width: 2.9vh;
	height: 2.7vh;
	background: url(images/task7_06.png) no-repeat;
	background-size: 38.7vh 7.2vh;
	background-position: -1vh -1.1vh;
	border: 0;
}
.button2 {
	width: 3vh;
	height: 2.7vh;
	background: url(images/task7_06.png) no-repeat;
	background-size: 38.7vh 7.2vh;
	background-position: -6vh -1.1vh;
	border: 0;
}
.button3 {
	width: 3vh;
	height: 2.7vh;
	background: url(images/task7_06.png) no-repeat;
	background-size: 38.7vh 7.2vh;
	background-position: -11vh -1.1vh;
	border: 0;
}
.button4 {
	width: 2.9vh;
	height: 2.7vh;
	background: url(images/task7_06.png) no-repeat;
	background-size: 38.7vh 7.2vh;
	background-position: -16vh -1.1vh;
	border: 0;
}
/*底部*/
footer {
	position: fixed;
	bottom: 0; 
	width: 100%;
	height: 17vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #29bde0;
}
footer button {
	width: 76.7vw;
	height: 8vh;
	border: 0;
	font-size: 3.6vh;
	font-family: "SimSun";
	background-color: #fbb435;
	color: #fff;
}