body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
/*头部*/
header{
    background-color: #5fc0cd;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 4rem;
}
.employer{
	border: 0;
    background-color: #55a8b3;
    color: #fff;
    font-size: 1.2rem;
    width: 6rem;
    height: 3rem;
    border-radius: .5rem;
}
.workers{
	width: 6rem;
    height: 3rem;
    color: #5fc0cd;
    background-color: #fff;
    border: 0;
    font-size: 1.2rem;
    border-radius: .5rem;
    margin-left: -12px;
}
.img{
	background: url(images/task5-2_07.png) no-repeat;
	background-size: contain;
	width: 1.5rem;
	height: 2rem;
	border: 0;
    float: right;
    margin: 1rem 1rem auto;
}
/*下拉框*/
.nav{
	margin-top: 4rem;
}
.drop-down{
    display: flex;
    align-items: center;
    height: 3rem;
    border-bottom: .1rem solid #e1e5e7;
}
.drop-down p{
    font-size: 1rem;
    color: #afbac0;
    padding-right: 1rem;
}
.drop-down-lists{
    flex: 30%;
}
.frame{
    text-align: center;
    margin-top: -1rem;
    width: 100%;
    height: 1.5rem;
    border-right:.01rem solid #e1e5e7;
}
.hide{
    display: none;
    position: absolute;
    width: 33.3%;
    background-color: #f9f9f9;  
    border: .01rem solid #e1e5e7;
}
b{
    display: inline-flex;
    float: right;
	margin-top: .5rem;
	width: 0;
    height: 0;
	border-width: 5px;  
	border-style: solid dashed dashed;
	border-color: #afbac0 transparent transparent;
}
.hide a{
    display: block;
    height: 1.5rem;
    line-height: 1.5rem;
    color: #afbac0;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border-bottom:.01rem solid #e1e5e7;
}
.drop-down-lists:hover .hide{
    display: block;
}
.hidet a:hover{
    background-color: #5fc0cd;
}

/*列表*/
.list{
    padding: 1rem;
    border-bottom: 1px solid #e1e5e7;
}
.picture{
    background: url(images/task5-2_09.png) no-repeat 0 0;
    background-size: 1.9rem .8rem;
    width: .9rem;
    height: .8rem;
    margin-top: .3rem;
    margin-right: .45rem;
}
.picture1{
    background: url(images/task5-2_09.png) no-repeat -16px 0;
    background-size: 1.9rem .8rem;
    width: .9rem;
    height: .8rem;
    margin-top: .3rem;
    margin-right: .45rem;
}
.service,.toponym{
    color: #999;
    display: flex;
}
.date{
    padding-left: 1.2rem;
}
.price{
    float: right;
    color: #e63b0e;
    text-decoration: none;
    margin: -2.4rem 0 auto auto;
}
.price span{
    color: #5fc0cd; 
}
.word,.date,.word2{
    width: 65%;
    white-space: nowrap;        /*设置段落不换行*/
    overflow: hidden;           /*设置溢出的位隐藏*/
    text-overflow: ellipsis;    /*文字溢出的用省略号显示*/

}
/*底部*/
footer{
	height: 3.2rem;
	position: fixed;
	bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8fafb;
    text-align: center;
}
.homepage{
	background: url(images/task5-2_05.png) no-repeat;
	width: 1.9rem;
	height: 3rem;
	border: 0;
	background-size: contain;
	float: left;
	margin-left: 3.5rem;
}
.write{
	background: url(images/task5-2_01.png) no-repeat;
	width: 3rem;
	height: 3rem;
	border: 0;
	background-size: contain;
}
.mine{
	background: url(images/task5-2_06.jpg) no-repeat;
	width: 1.8rem;
	height: 3rem;
	border: 0;
	background-size: contain;
	float: right;
	margin-right: 3.5rem;
}